* {
  margin: 0;
  padding: 0;
}

/*------------NAV BAR-----------------*/
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar-brand img {
  height: 45px;
  padding-left: 30px;
}
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  float: right;
  text-align: left;
}
#nav-bar ul li a:hover {
  color: #007bff !important;
}
.navbar {
  background: #fff;
}
.navbar-toggler {
  border: none !important;
}
.nav-link {
  color: #555 !important;
  font-weight: 600;
  font-size: 16px;
}

/*--------------SLIDER-------------------*/

#slider {
  width: 100%;
}
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial !important;
}
.carousel-caption h5 {
  color: #fff;
  font-size: 42px;
}

/*--------------------ABOUT US------------------------------*/

#about {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #555;
}
.about-content {
  padding-top: 10px;
}

/*----------------------SERVICES-------------------------------------*/

#services {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(images/photo1.jpg);
  background-size: cover;
  background-position: center;
  color: #efefef !important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
}

#services h1 {
  text-align: center;
  color: #efefef !important;
  padding-bottom: 10px;
}
#services h1::after {
  content: "";
  background: #efefef;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}
.services {
  margin-top: 40px;
}
.icon {
  font-size: 40px;
  margin: 20px auto;
  padding: 20px;
  height: 80px;
  width: 80px;
  border: 1px solid #fff;
  border-radius: 50%;
}
#services p {
  font-size: 14px;
  margin-top: 20px;
  color: #ccc;
}
.services .col-md-4:hover {
  background: #007bff;
  cursor: pointer;
  transition: 0.7s;
}

/*-----------------------------------*/
h1 {
  text-align: center;
  color: #555 !important;
  padding-bottom: 10px;
}
h1::after {
  content: "";
  background: #007bff;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}

/*------------KEUNTUNGAN-----------------------*/
#keuntungan {
  padding-top: 50px;
  padding-bottom: 50px;
}

#keuntungan .row {
  margin-top: 30px;
}
.keuntungan {
  border-left: 4px solid #007bff;
  margin-top: 50px;
  margin-bottom: 50px;
}
.fa-sun {
  margin-bottom: 20px;
  font-size: 30px;
}
.fa-lightbulb {
  margin-bottom: 20px;
  font-size: 30px;
}
.fa-battery-half {
  margin-bottom: 20px;
  font-size: 30px;
}
.fa-wallet {
  margin-bottom: 20px;
  font-size: 30px;
}
.fa-earth-asia {
  margin-bottom: 20px;
  font-size: 30px;
}
.fa-money-check-dollar {
  margin-bottom: 20px;
  font-size: 30px;
}
.title {
  margin-top: 50px;
  margin-bottom: 50px;
}

/*------------JOIN US-----------------------*/

#join{
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/home1.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  background-attachment: fixed;
  text-align: center;
  padding: 100px;
  font-family: sans-serif;
  font-size: 38px;
}



/*------------KENAPA KAMI-----------------------*/

#whyus {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #fff;
}
#whyus .row {
  margin-top: 30px;
}
.whyus {
  width: calc(100% / 3);
  margin: 0 -2px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.4s;
}
.whyus:hover {
  background: #ddd;
}

.whyus i {
  color: #007bff;
  font-size: 30px;
  margin-bottom: 30px;
}
.whyus h4 {
  font-size: 25px;
}
.whyus p {
  color: gray;
}

/*---------------------CONTACT-------------------------*/
#contact {
  background: #efefef;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #777;
}
.contact-form {
  padding: 15px;
}
.form-group {
  padding-top: 10px;
}
::placeholder {
  color: #999 !important;
}
.follow {
  background: #fff;
  padding: 10px;
  margin: 15px;
}
.contact-info .fa-brands {
  margin: 10px;
  color: #007bff;
  font-weight: bold;
}
.contact-info .fa-solid {
  margin: 10px;
  color: #007bff;
  font-weight: bold;
}
.contact-info {
  padding-top: 10px;
}
/*-------------------FOOTER---------------------------*/
#footer {
  background: #333;
  color: #fff;
  padding: 12px;
}
